$color1: #f8c4bb;
$color2: #27536b;
$color3: #ee4a37;
$color4: #f0a598;
$color5: #569cf2;
$color6: #a42723;
$color7: #a6aab0;
$color8: #a87169;

$color1: #27536b;
$color2: #f77759;
$color3: #f99c86;
$color4: #b0c0c9;
$color5: #cb6249;
