@import '../default.less';
@import '../overrides.less';

body {
	background: #27536b url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: 0;
}
.feedContent {
	background: #fff;
	padding: 24px;
	min-height: 280px;
}

.ant-layout {
	background: #27536b;
}

.feedItemCard {
	margin: 10px;
}

.itemImage {
	max-width: 150px;
	max-height: 150px;
}

.buyItemImage {
	max-width: 150px;
	max-height: 150px;
}

.price {
	font-family: bold;
	font-size: 30px;
	color: #23acc5;
}

.itemCardAvatar {
	float: left;
	height: 10em;
	width: 10em;
	margin-right: 15px;
}

.itemCardMetaAvatar {
	float: right;
}

.itemCardMeta {
	padding-top: 15px;
}
.ant-btn:not([disabled]):hover {
	color: #ffffff;
	background-color: #f77759;
}

.ant-breadcrumb {
	padding-left: 100px;
	color: #b0c0c9 !important;
}

.ant-breadcrumb span:last-child {
	color: #f99c86 !important;
}

.ant-layout-content {
	background: #27536b url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: 0;
}
