@import '../default.less';
@import '../overrides.less';

.ant-layout-header {
	background-color: #fff;
	height: 100%;
	border-bottom: 1px solid #e0d3d3;
}

.ant-menu {
	text-align: right;
	width: 100%;
	min-height: 106px;
}

.ant-menu-horizontal {
	border-bottom: none;
}

.logo {
	width: 120px;
	height: 100%;
	margin: auto;
	float: left;
}

.ant-menu-horizontal > .ant-menu-item-selected {
	border-bottom: none;
	border-top: 2px solid #cb6249;
}

.searchbar {
	text-align: center;
	width: 100%;
	margin-top: -30px;
	padding-left: 20px;
	padding-right: 20px;
	height: 60px;
}

.ant-avatar.ant-avatar-icon {
	margin-left: 20px;
	margin-top: -6px;
}

.ant-avatar.ant-avatar-icon:hover {
	background-color: #fff;
	color: rgb(204, 204, 204);
	border: 1px solid rgb(204, 204, 204);
}

.ant-breadcrumb {
	color: #b0c0c9 !important;
}

.ant-breadcrumb span:last-child {
	color: #f99c86 !important;
}

.ant-layout-content {
	background: #27536b url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: 0;
}
